<div>
    <h1>Login form</h1>
    <div id="loginForm">
        <input type="text" id="email" placeholder="Please enter email..." />
        <input type="password" id="password" placeholder="Please enter password..." />
        <button onclick="login()">Log in</button>
    </div>
    <button id="logoutBtn" onclick="logout()" style="display:none">Log out</button>
    <br />
    <button onclick="testAuth()">Test restricted resource access</button>

</div>